@model ProductsListViewModel

<div class="sale-container">
    <a id="sale-content" href="">
        <p>Extra 15% off</p>
        <span>on every item over $2000</span>
    </a>
    <a id="ship-content" href="">
        <p>Free Shiping</p>
        <span>on order $6000</span>
    </a>
    <a id="sale-content-s" href="">
        <p>CookWare</p>
    </a>
</div>