<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kitchen_Appliances</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
    <header>
        <div class="information"></div>
        <nav>
            <p id="logo">Kitchen</p>
            <ul class="nav-links">
                <li><a href="" class="link active">Home</a></li>
                <li><a href="" class="link">Product</a></li>
                <li><a href="" class="link">About</a></li>
                <li><a href="" class="link">Blog</a></li>
                <li><a href="" class="link">Contact</a></li>
                <li>
                    <a href="" id="user"></a>
                </li>
            </ul>
        </nav>

        <div class="slide-container">
            <div class="slides">
                <img src="images/slide1.jpeg" alt="" class="slide" id="lastClone" />
                <img src="images/slide2.jpeg" alt="" class="slide" />
                <img src="images/slide.jpeg" alt="" class="slide" id="firstClone" />
            </div>
            <div class="slide-content">
                <span>Cook Ware</span>
                <p class="description">
                    Shallow Lady Gaga, Bradley Cooper Tell me somethin', girl Are you
                    happy in this modern world? Or do you need more? Is there somethin'
                    else you're searchin' for?
                </p>
                <button>Let's cook <i class="fas fa-cookie-bite"></i></button>
            </div>
        </div>
        <button id="next"><i class="fas fa-chevron-right"></i></button>
        <button id="pre"><i class="fas fa-chevron-left"></i></button>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Kitchen_Appliances - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
