<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image" href="/favicon.ico" />
    <title>@ViewData["Title"] - Kitchen_Appliances</title>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet" />
    <link href="~/lib/FontAwesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
    <link rel="stylesheet" href="~/css/itemDetails.css" />
    <link href="~/css/checkout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <vc:header-top/>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div>
            <vc:footer-home />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/gallery.js"></script>
    <script src="~/js/scrollMenu.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
