@model Itemcart

@if (Model != null)
{
    <table class="table-cart">
        <thead>
            <tr>
                <th style="width: 20%">Product</th>
                <th style="width: 25%" class="text-center">Name</th>
                <th style="width: 15%" class="text-center">Price</th>
                <th style="width: 15%" class="text-center">Counter</th>
                <th style="width: 15%" class="text-center">Total</th>
                <th style="width: 10%" class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="item-cart">
                    <td class="cart-img">
                        <img src=@item.Product.ProductImage alt="" />
                    </td>
                    <td class="cart-des text-center">
                        <a asp-action="Index" asp-controller="Product" asp-route-ProductID="@item.Product.ProductID">@item.Product.ProductName</a>
                    </td>
                    <td class="cart-price text-center">$@item.Product.Price</td>
                    <td class="cart-counter text-center">
                        <button class="minus">-</button>
                        <input type="text" value=@item.Quantity class="input-value" />
                        <button class="plus">+</button>
                    </td>
                    <td class="cart-total text-center">@((item.Quantity * item.Product.Price).ToString("c"))</td>
                    <td class="cart-method text-center">
                        <a href="">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else { 

}
