@model ProductsListViewModel


<div class="feature-list">
    @foreach (var p in Model.Products)
    {
        @*<div class="product">
            <img src=@p.ProductImage alt="" />
            <div class="product-iformation">
                <a asp-action="Index" asp-controller="Product" asp-route-ProductID="@Model.ProductID">@Model.ProductName</a>
                <ul class="feed-back">
                    <li>
                        <a href=""><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fas fa-star"></i></a>
                    </li>
                </ul>
                <span>$ @p.Price</span>
            </div>
            <div class="add-cart">
                <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
                <p>Add to cart</p>
            </div>
        </div>*@
        <vc:itemproduct-home product="p"/>
    }
</div>