<div class="feature-list">
    <div class="product">
        <img src="~/image/product.jpg" alt="" />
        <div class="product-iformation">
            <a href="">Chef’s knife</a>
            <ul class="feed-back">
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
            </ul>
            <span>$200</span>
        </div>
        <div class="add-cart">
            <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
            <p>Add to cart</p>
        </div>
    </div>
    <div class="product">
        <img src="./image/product.jpg" alt="" />
        <div class="product-iformation">
            <a href="">Chef’s knife</a>
            <ul class="feed-back">
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
            </ul>
            <span>$200</span>
        </div>
        <div class="add-cart">
            <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
            <p>Add to cart</p>
        </div>
    </div>
    <div class="product">
        <img src="./image/product.jpg" alt="" />
        <div class="product-iformation">
            <a href="">Chef’s knife</a>
            <ul class="feed-back">
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
            </ul>
            <span>$200</span>
        </div>
        <div class="add-cart">
            <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
            <p>Add to cart</p>
        </div>
    </div>
    <div class="product">
        <img src="./image/product.jpg" alt="" />
        <div class="product-iformation">
            <a href="">Chef’s knife</a>
            <ul class="feed-back">
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
            </ul>
            <span>$200</span>
        </div>
        <div class="add-cart">
            <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
            <p>Add to cart</p>
        </div>
    </div>
    <div class="product">
        <img src="./image/product.jpg" alt="" />
        <div class="product-iformation">
            <a href="">Chef’s knife</a>
            <ul class="feed-back">
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
            </ul>
            <span>$200</span>
        </div>
        <div class="add-cart">
            <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
            <p>Add to cart</p>
        </div>
    </div>
</div>