@model IEnumerable<string>

<div class="slide-container">
    <div class="slides">
        <img src="~/image/slide1.png" alt="" class="slide" id="lastClone" />
        <img src="~/image/slide2.jpg" alt="" class="slide" />
        <img src="~/image/slide3.jpg" alt="" class="slide" id="firstClone" />
    </div>
    <div class="slide-content">
        <span>Cook Ware</span>
        <p class="description">
            Shallow Lady Gaga, Bradley Cooper Tell me somethin', girl Are you
            happy in this modern world? Or do you need more? Is there somethin'
            else you're searchin' for?
        </p>
        <button>Let's cook <i class="fas fa-cookie-bite"></i></button>
    </div>
    <button id="next"><i class="fas fa-chevron-right"></i></button>
    <button id="pre"><i class="fas fa-chevron-left"></i></button>
</div>

