@model ProductsListViewModel

<div class="banner-container">
    <vc:banner-home />
</div>

<vc:sale-home />
<div class="title">
    <p><span style="color: crimson">Some</span> Products</p>
</div>
<div class="product-category">
    <ul class="category">
        <vc:navigation-menu />
    </ul>
    <div class="lated-product">
        <div class="product-list">
            @foreach (var product in Model.Products)
            {
                <vc:itemproduct-home product="product" />
            }
        </div>
        <button id="nextPro"><i class="fas fa-chevron-right"></i></button>
        <button id="prePro"><i class="fas fa-chevron-left"></i></button>
    </div>
</div>

<div class="feauture-product">
    <div class="title">
        <p><span style="color: crimson">Feature</span> Product</p>
    </div>

    <div class="feature-container">
        <vc:feature-product />
    </div>
</div>


<div class="note">
    <p><span>What</span> people say?</p>
</div>
<div class="chef-note">
    <div class="note-content">
        <img src="~/image/masterChef.png" alt="" />
        <p>
            "Cooking is a profession that requires health, toughness, vision and
            open thinking. What could be more wonderful than traveling the world
            and enjoying the finest food".
        </p>
        <span>
            My child can Become a Famous Chef, but will have to find someone
            else to but not me "apprentice."
        </span>
    </div>
    <img src="~/image/gordenRamsey.png" alt="" />
</div>

<div class="partner">
    <div class="title-mid">
        <p>Partner</p>
    </div>
    <ul class="partner-list">
        <li>
            <a href="">
                <img src="~/image/frissher.png" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/image/globalChef.jpg" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/image/kyocera-vector-logo.png" alt="" />
            </a>
        </li>
        <li>
            <a href="">
                <img src="~/image/wusthof.jpg" alt="" />
            </a>
        </li>
    </ul>
</div>
