@model ProductsListViewModel

@foreach (var product in Model.Products)
{
    <div class="product">
        <img src="@product.ProductImage" alt="" />
        <div class="product-iformation">
            <a href="ProductDetail/Id=@product.ProductID">@product.ProductName</a>
            <ul class="feed-back">
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
                <li>
                    <a href=""><i class="fas fa-star"></i></a>
                </li>
            </ul>
            <span>@product.Price</span>
        </div>
        <div class="add-cart">
            <a class="cart" href=""> <i class="fas fa-shopping-cart"></i> </a>
            <p>Add to cart</p>
        </div>
    </div>
}