@model ProductsListViewModel

@foreach (var category in Model.Categories)
{
    <li>
        <a class="btn btn-block"
           asp-action="Index" asp-controller="Home"
           asp-route-category="@category.CategoryName"
           asp-route-productPage="1">
            <i class="@category.CategoryIcon"></i>
            @category.CategoryName
        </a>
    </li>
}