<section style="margin-top: 15rem">
    <div class="checkout-container">
        <div class="checkout-content">
           <vc:table-cart/>
        </div>
        <div class="shipping-sup">
            <p>Support ship 20k for orders over 300k in Hanoi, HCMC</p>
            <p>Support ship 30k for orders over 500k nationwide</p>
        </div>
        <div class="cart-total">
            <div class="total-price">
                <p>Total Price: $ 150</p>
            </div>
            <div class="clearfix">
                <a href="" style="background-color: rgb(156, 64, 64);">Keep Shopping</a>
                <a href="">Payment</a>
            </div>
        </div>
    </div>
</section>