<div class="footer-container">
    <div class="footer-content">
        <div class="item">
            <div class="title-item">
                <p><span>Get </span>  in touch</p>
            </div>
            <ul class="footer-item">
                <li><i class="fas fa-phone"></i> (+84) 362075682</li>
                <li><i class="fas fa-envelope"></i>Email: kahnhvuong98&gmail.com</li>
                <li><i class="fas fa-clock"></i>Mon - Sat 10:00am - 8:00pm</li>
                <li><i class="fas fa-map-marker-alt"></i>26 Greene St New York,NY</li>
            </ul>
        </div>
        <div class="item">
            <div class="title-item">
                <p> <span>Out</span> service</p>
            </div>
            <ul class="footer-item">
                <li>Contact Us</li>
                <li>Order History</li>
                <li>Wish List</li>
                <li>Special</li>
                <li>Brands</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="item">
            <div class="title-item">
                <p>Get in touch</p>
            </div>
            <ul class="footer-item">
                <li>(+84) 362075682</li>
                <li>Email: kahnhvuong98&gmail.com</li>
                <li>Mon - Sat 10:00am - 8:00pm</li>
                <li>26 Greene St New York,NY</li>
            </ul>
        </div>
        <div class="item">
            <div class="title-item">
                <p>Get in touch</p>
            </div>
            <ul class="footer-item">
                <li>(+84) 362075682</li>
                <li>Email: kahnhvuong98&gmail.com</li>
                <li>Mon - Sat 10:00am - 8:00pm</li>
                <li>26 Greene St New York,NY</li>
            </ul>
        </div>
    </div>
</div>