* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.product-details {
  width: 91%;
  height: 35rem;
  display: flex;
  margin: 0 70px;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.product-gallery {
  width: 50%;
  height: 100%;
  background-color: #f4f4f4;
}

.gallery {
  width: 70%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.gallery .image-gallery {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.gallery .image-gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro-infor {
  width: 50%;
  height: 100%;
}

.gallery .image-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery .image-preview > img {
  /* flex-grow: 1; */
  height: 100px;
  cursor: pointer;
  border: 2px solid #cdb9b9;
}

.infor-container {
  width: 80%;
  margin: 0 auto;
}

.list-infor {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-infor .title-price {
  width: 80%;
  height: 100%;
}

.list-infor .title-price > p {
  font-size: 20px;
  font-weight: bold;
}

.interactive {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.interactive > li {
  padding-right: 20px;
}
.interactive > li > a {
  font-size: 26px;
  color: rgb(17, 14, 14);
}
.interactive > li > a:hover {
  color: rgb(223, 48, 48);
}
.code {
  height: 5rem;
  margin-bottom: 30px;
}
.code > p{
  opacity: 0.6;
  font-size: 16px;
  margin-bottom: 20px;
}

.code > span{
  font-weight: bold;
  font-size: 26px;
}
.option-color{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.option-color > label{
  padding-right: 20px;
}
.option {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.option > li {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: 1px solid rgb(90, 87, 87);
  padding: 2px;
  border-radius: 50%;
}

.option > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#red{
  background-color: rgb(221, 55, 55);
}
#brown{
  background-color: rgb(99, 55, 55);
}
#green{
  background-color: rgb(68, 158, 68);
}

.active-color{
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 50%);
}

.counter-pro{
  display: flex;
  margin-bottom: 25px;
}

.counter-pro > label{
  padding-right: 25px;
}
.edit-count > button{
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  font-size: 18px;
}
.edit-count > input{
  color: #000;
  font-size: 14px;
  width: 50px;
  min-height: 30px;
  border: none;
  text-align: center;
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
}

.clear-fix{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.clear-fix > a{
  width: 49%;
  text-decoration: none;
  background: #605555;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 5px;
}
.clear-fix > a:hover{
  background: #df4646;
}
.commitment{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  border-top: 1px solid #413939;
}
.commitment .label-content{
  width: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commitment .label-content > label{
  padding-right: 10px;
  font-size: 20px;
  color: #584a4a;
}

.delivery-support{
  display: flex;
  align-items: center;
  padding: 13px 0;
}
.delivery-support > label{
  font-size: 20px;
  padding-right: 20px;
  color: #584a4a;
}

.pro-description{
  width: 91%;
  margin: auto;
}

.content-des{
  width: 85%;
  margin: auto;
  border: 2px solid rgb(158, 149, 149);
  padding: 2rem;
}
.content-des >p{
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 25px;
}
.content-des > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}