@page 

<div class="page-content">
    <div class="container-fuild">
        <div class="page-title">
            <div class="title__dashboard">
                <p>Product</p>
            </div>
            <div class="title__dashboardchild">
                <a href="#">Ecommerce</a>
                <span>/</span>
                <p>Product</p>
            </div>
        </div>
        <div class="product-content">
            <div class="filter">
                <div class="title-filter">
                    <p>Filter</p>
                </div>
                <div>
                    <h5 style="
                        font-size: 14px;
                        color: #495057;
                        margin-bottom: 1rem;
                        font-weight: bold;
                      ">
                        Clothes
                    </h5>
                    <ul class="product-list">
                        <li>
                            <a href=""><i class="fas fa-chevron-right"></i> T-Shirt</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-chevron-right"></i> Shirt</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-chevron-right"></i> Jeans</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-chevron-right"></i> Jacket</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clothes">
                <div class="head-clothes">
                    <div class="title-clothes">
                        <p>Clothes</p>
                    </div>
                    <div class="style-clothes">
                        <form action="" class="form-search__clothes">
                            <input type="text" placeholder="Search..." />
                            <span><i class="fas fa-search"></i></span>
                        </form>
                    </div>
                </div>
                <div class="clothes__content">
                    <table>
                        <thead>
                            <tr>
                                <th>ProductID</th>
                                <th>Name</th>
                                <th>Date Added</th>
                                <th>Status</th>
                                <th>View Detail</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                            <tr>
                                <td>#454</td>
                                <td>Half sleeve T-shirt</td>
                                <td>23-12-2020</td>
                                <td><span>stocking</span></td>
                                <td><button class="view-detail">View Detail</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>