<div class="information">
</div>

<nav>
    <a asp-action="Index" asp-controller="Home" id="logo">Kitchen</a>
    <ul class="nav-links">
        <li><a href="" class="link active">Home</a></li>
        <li><a href="" class="link">Product</a></li>
        <li><a href="" class="link">About</a></li>
        <li><a href="" class="link">Blog</a></li>
        <li><a href="" class="link">Contact</a></li>
        <li><div class="cart-icon"><i class="fas fa-shopping-bag"></i></div></li>
        <li>
            <a href="" id="user"></a>
        </li>
    </ul>
    <div class="cart-checkout">
        <vc:cart-list />
    </div>
</nav>