@model IEnumerable<string>

<div class="information">
</div>
<nav>
    <a asp-page="/"><p id="logo">Kitchen</p></a>
    <ul class="nav-links">
        <li><a href="" class="link active">Home</a></li>
        <li><a href="" class="link">Product</a></li>
        <li><a href="" class="link">About</a></li>
        <li><a href="" class="link">Blog</a></li>
        <li><a href="" class="link">Contact</a></li>
        <li>
            <a href="" id="user"></a>
        </li>
    </ul>
</nav>